<% include header %>


   
<header>
  <h2>Tic Tac Toe</h2>
</header>

<main class="main_section">
  <section class="section_container" id="upper-left"> </section>
  <section class="section_container" id="upper-mid"> </section>
  <section class="section_container"id="upper-right"> </section>

  <section class="section_container" id="center-left"> </section>
  <section class="section_container" id="center-mid"> </section>
  <section class="section_container"id="center-right"> </section>

  <section class="section_container"id="lower-left"> </section>
  <section class="section_container"id="lower-mid"> </section>
  <section class="section_container" id="lower-right"> </section>
</main>
<script src="js/game.js"></script>
<% include footer %>