<% include header %>

<link rel="stylesheet" type="text/css" href="swathi.css">


			<header>
					<h1>06-Swathi Challagundla</h1>
				</header>
				<h2>About Me</h2>
			<img src="images/picture.jpg" class="img-circle" alt="My picture">

			<iframe width="560" height="315" src="https://www.youtube.com/embed/47UR0O2EQBs" allow="autoplay; encrypted-media"
			 allowfullscreen></iframe>
			<section>
				<h3>Current</h3>

				<p class="one">
					I am a new member of Fall 2018 Batch working on my Masters of Applied Computer Science.
				</p>
			</section>
			<section>
				<h3 id="past-section">Background & Hobbies</h3>

				<p class="two">
					I am from Piduguralla, India. I did my Bachelors in Electronics and Communication Engineering from Bapatla
					Engineering College, Bapatla(India). I take pleasure in listening to music and enjoy going for hikes during
					weekends.
				</p>
			</section>
			<section>
				<h3 id="future-section">My Interests</h3>

				<p class="three">
					I am interested in Artificial Intelligence and Security areas.
				</p>
			</section>
			<section>
				<h3 class="four">My Schedule</h3>


				<ul>
					<li>Web Applications (M,W-11:00)</li>
					<li>Object-Oriented Programming (T,R-8:00)</li>
					<li>Network Fundamentals (M,W,F-1:00)</li>
					<li>Database Management (M,W-2:00)</li>
				</ul>

			</section>

		</article>
			
	
	</main>
</body>



</html>
<% include footer%>